
  <div class="flex flex-wrap justify-between mt-2 mb-2">
    <% products.each do |pro|%>
      <div class="rounded shadow-lg flex flex-col rounded p-4 h-[300px] w-full sm:w-[200px] md:w-[230px] lg:w-[320px] xl:w-[400px] mr-3 md:mr-5 justify-items-end">
        <div class="grow">
          <h2><%= pro.title %></h2>
          <span><%= pro.content %></span>
          <h4 class="mt-1">£<%= pro.price / 100%> per month</h4>
        </div>
        <div class="justify-self-end mt-2 mb-2">
          <%= link_to "Join", checkout_path(pro.price_id), class: "w-full self-end rounded p-2 bg-blue-400 text-white hover:bg-blue-500 mt-2", data: { turbo: false } %>
        </div>
      </div>
    <% end %>
    <div>
